pipecat-ai[sarvam,websocket,openai,silero]>=1.2.0,<2
pipecat-vobiz>=0.0.3,<0.1
langgraph
langchain-groq
clickhouse-connect
langfuse
fastapi
uvicorn
sentence-transformers
python-dotenv
langchain
pytest
transformers
torch
torchaudio
soundfile
python-multipart